registry=http://52.91.22.53:8081/repository/npm-group/
//52.91.22.53:8081/repository/npm-group/:_auth=${NEXUS_AUTH}
//52.91.22.53:8081/repository/npm-group/:email=${NEXUS_EMAIL}
strict-ssl=false
legacy-peer-deps=true
always-auth=true 